* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.project-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.holiday-content-box {
  margin-top: 50px;
  width: 60% !important;
  margin-left: 20%;
}
@media screen and (max-width: 890px) {
  .holiday-content-box {
    margin-left: 30%;
  }
}
@media screen and (max-width: 700px) {
  .holiday-content-box {
    width: 50% !important;
    margin-left: 30%;
  }
}
@media screen and (max-width: 600px) {
  .holiday-content-box {
    width: 100% !important;
    margin-left: 0%;
  }
}
